<template>
  <body class="has-navbar-fixed-top-desktop">
      <nav class="navbar is-info is-fixed-top-desktop is-fullheight">
        <div class="navbar-brand">
          <a class="navbar-item">
              <img src="" alt="">
          </a>
          <div class="navbar-burger" @click="collapseNavBar" :class="{ 'is-active': showNav }">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="navmenu" class="navbar-menu" :class="{ 'is-active': showNav }">
          <div class="navbar-start">
              <a class="navbar-item" @click="btnHome">
                Home
              </a>
              <a class="navbar-item" v-if="isAuthenticated" @click="btnTransaction">
                New Transaction
              </a>
              <a class="navbar-item" v-if="isAuthenticated" @click="btnBankAccounts">
                Bank Accounts
              </a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                    <a class="button is-info" v-if="!isAuthenticated" @click="btnLogin">
                      <span>Log In</span>
                    </a>
                </p>
                <p class="control">
                  <a class="button is-info" v-if="!isAuthenticated" @click="btnRegister">
                    <span>Register</span>
                  </a>
                </p>
                <p class="control">
                  <a class="button is-info" v-if="isAuthenticated" @click="userSignOut">
                    <span>Log out</span>
                  </a>
                </p>
                <p>{{msg}}</p>
              </div>
            </div>
          </div>
        </div>
      </nav>
  </body>
</template>
<script>
import { EventBus } from '../../event-bus'
export default {
  data () {
    return {
      isAuthenticated: false,
      msg: '',
      showNav: false
    }
  },
  created () {
    this.isAuthenticated = localStorage.getItem('auth')
    // Use localstorage because isAuthenticated from $store is undefined when event is called
    EventBus.$on('authenticated', () => {
      this.isAuthenticated = localStorage.getItem('auth')
    })
  },
  beforeDestroy () {
    EventBus.$off('authenticated')
  },
  methods: {
    userSignOut: function () {
      this.$store.dispatch('userSignOut')
    },
    btnHome: function () {
      this.$router.push({ path: '/' })
    },
    btnTransaction: function () {
      this.$router.push({ name: 'new-transaction' })
    },
    btnBankAccounts: function () {
      this.$router.push({ name: 'bank-accounts' })
    },
    btnLogin: function () {
      this.$router.push({ name: 'login' })
    },
    btnLogout: function () {
      this.$router.push({ name: 'logout' })
    },
    btnRegister: function () {
      this.$router.push({ name: 'register' })
    },
    collapseNavBar: function () {
      this.showNav = !this.showNav
    }
  }
}
</script>
