<template>
  <div id="app">
    <header class="drawer-navbar" role="banner" id="navigation">
      <NavBar/>
    </header>
    <router-view/>
  </div>
</template>

<script>
import NavBar from './components/elements/NavBar.vue'
export default {
  name: 'App',
  components: {
    NavBar
  }
}
</script>
