<template>
  <div id="app">
    <main>
      <body>
      <div class="container">
        <h1 class="is-1">Click a bank account for an overview of transactions</h1>
        <table class="table is-striped is-hoverable is-fullwidth">
          <thead>
          <tr>
            <th>Bank Account Number</th>
            <th>Balance</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr id="row_item" v-for="account in accounts" :key="account.bankAccountId"
              @click="showAccountTransactions(account.bankAccountId)">
            <td>{{account.bankAccountId}}</td>
            <td>{{account.balance}}</td>
            <td>{{account.description}}</td>
          </tr>
          </tbody>
        </table>
        <div class="field has-addons">
          <p class="control">
            <button class="button is-primary" @click="toggleAccountForm">New Account</button>
          </p>
          <p class="control">
            <span class="select" v-if="showForm && isAdmin">
              <select required v-model="newAccount.userId">
                <option value="" disabled selected hidden >Select user</option>
                <option :value="user.userId" v-for="user in users" :key="user.username">
                  {{user.username}}
                </option>
              </select>
            </span>
          </p>
          <p class="control">
          <input type="text" class="input" @keyup.enter="addAccount" v-model="newAccount.description" v-if="showForm" placeholder="description (optional)">
          </p>
          <p class="control">
            <button class="button is-danger" @click="addAccount" v-if="showForm">
              Add
            </button>
          </p>
        </div>
        <span class="has-text-danger">{{ errors.first('username') }}</span>
      </div>
      </body>
    </main>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'

export default {
  name: 'bank_accounts',
  data () {
    return {
      showForm: false,
      accounts: [],
      users: [],
      newAccount: {
        userId: '',
        description: ''
      },
      selectedUser: '',
      isAdmin: this.$store.state.isAdmin
    }
  },
  methods: {
    getAccounts: function () {
      var vm = this
      axios.get('http://localhost:8080/bank-accounts')
        .then((response) => {
          vm.accounts = response.data
        }, (error) => {
          console.log(error)
        })
    },
    getUsers: function () {
      var vm = this
      axios.get('http://localhost:8080/user/all')
        .then((response) => {
          console.log(response.data)
          vm.users = response.data
        }).catch((error) => {
          console.log(error.message)
        })
    },
    addAccount: function () {
      var vm = this
      console.log(vm.$store.getters)
      let data = {
        accountHolderId: null,
        balance: 0,
        minimumBalance: 0,
        description: vm.newAccount.description !== '' ? vm.newAccount.description : 'Checking'
      }
      if (!vm.isAdmin) {
        data.accountHolderId = vm.$store.state.user.userId
      } else {
        data.accountHolderId = vm.newAccount.userId
      }
      axios.post('http://localhost:8080/bank-accounts', qs.stringify(data))
        .then((response) => {
          console.log(response)
          this.getAccounts()
          vm.newAccount.description = ''
        }).catch((error) => {
          console.log(error)
        })
    },
    toggleAccountForm: function () {
      this.showForm = !this.showForm
    },
    showAccountTransactions: function (id) {
      this.$router.push({name: 'bank-account-transactions', params: {id: id}})
    }
  },
  mounted () {
    this.getAccounts()
    if (this.$store.state.isAdmin) {
      this.getUsers()
    }
  }
}
</script>
