<template>
  <main>
    <body>
    <div id="app">
      <div class="container">
        <h1 class="is-1">Here's an overview of your transactions</h1>
        <table class="table is-striped is-hoverable is-fullwidth">
          <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>From</th>
            <th>To</th>
          </tr>
          </thead>
          <tbody>
          <tr id="row-item" v-for="tx in transactions" :key="tx.transactionId">
            <td>{{ tx.timestamp }}</td>
            <td>{{ tx.amount }}</td>
            <td>{{ tx.senderId }}</td>
            <td>{{ tx.receiverId }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    </body>
  </main>
</template>

<script>
import axios from 'axios'
export default {
  name: 'bank-account',
  data () {
    return {
      transactions: []
    }
  },
  methods: {
    getTransactions: function () {
      var vm = this
      axios.get('http://localhost:8080/bank-account-transactions', {
        params: {
          id: vm.$route.params.id
        }
      }).then((response) => {
        console.log(response.data)
        vm.transactions = response.data
        console.log(vm.transactions)
      }).catch((error) => {
        console.log(error)
      })
    }
  },
  mounted () {
    this.getTransactions()
  }
}
</script>
