<template>
  <main>
    <body>
    <div id="app" class="container">
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-black">Welcome to</h3>
            <figure style="margin-bottom: 20px">
              <img src="">
            </figure>
            <div class="box">
              <p class="subtitle has-text-black">Please login to proceed.</p>
              <form @submit.prevent="validation">
                <div class="field">
                  <div>
                    <input class="input" name="username" id="username" type="text" v-model="username"
                           placeholder="Username">
                    <div class="has-text-danger" > {{ errors.first('username') }}</div>
                  </div>
                </div>
                <div class="field">
                  <div>
                    <input class="input" name="password" id="password" type="password" v-model="password"
                           placeholder="Password">
                    <div class="has-text-danger" >{{ errors.first('password') }}</div>
                  </div>
                </div>
                <div class="field">
                  <input type="checkbox" id="checkbox" v-model="rememberMe">
                  Remember me
                </div>
                <button class="button is-info is-fullwidth"  :disabled="errors.any()"  @click="userSignIn" type="submit">Login</button>
                <p>Not registered? <a @click="linkRegister">Create an account</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
    </body>
  </main>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      username: '',
      password: '',
      alert: false,
      rememberMe: false,
      usernameError: null,
      passwordError: null
    }
  },
  computed: {
    error () {
      return this.$store.getters.getError
    },
    loading () {
      return this.$store.getters.getLoading
    }
  },
  watch: {
    error (value) {
      if (value) {
        this.alert = true
      }
    },
    alert (value) {
      if (!value) {
        this.$store.dispatch('setError', false)
      }
    }
  },
  methods: {
    userSignIn: function () {
      this.$store.dispatch('userSignIn', {username: this.username, password: this.password})
      this.usernameError = null
      this.passwordError = null
    },
    linkRegister: function () {
      this.$router.push({name: 'register'})
    },
    validation: function () {
      this.$validator.validateAll().then(res => {
        if (res) {
        } else {
          alert('Some fields still require some attention')
        }
      })
    }
  }
}
</script>
