<template>
<main>
  <body>
  <div id="app" class="container">
  <section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-black">Welcome to</h3>
          <figure style="margin-bottom: 20px">
            <img src="">
          </figure>
          <div class="box">
            <p class="subtitle has-text-black">Create account</p>
            <form @submit.prevent="postRegistration">
              <div class="field">
                <div>
                  <input v-validate="'required|min:8|max:30|alpha_num'" class="input" name="username" type="text" id="username" v-model="registerForm.username" placeholder="Username">
                  <span class="has-text-danger">{{ errors.first('username')}}</span>
                </div>
              </div>
              <div class="field">
                <div>
                  <input v-validate="{ required: true}" class="input" name="password" type="password" id="password" v-model="registerForm.password"  placeholder="Password">
                  <span v-show="errors.has('password')" class="has-text-danger"> The password must contain the following: </span>
                    <ul>
                      <li class="has-text-danger"  v-show="errors.has('registerForm.password')"> - Must start with a capital letter</li>
                      <li class="has-text-danger"  v-show="errors.has('registerForm.password')"> - Must consist lower case letters</li>
                      <li class="has-text-danger"  v-show="errors.has('registerForm.password')"> - Must consist of a number</li>
                      <li class="has-text-danger"  v-show="errors.has('registerForm.password')"> - Must consist of a special character</li>
                      <li class="has-text-danger"  v-show="errors.has('registerForm.password')"> - Must consist out of minimal 8 characters</li>
                      <li class="has-text-danger"  v-show="errors.has('registerForm.password')"> - Cannot be longer then 30 characters</li>
                    </ul>
                </div>
              </div>
              <div class="field">
                <div>
                  <input v-validate="{ required: true, is: registerForm.password }" class="input" data-vv-as="password confirmation" name="confirm_password" type="password" id="confirm_password" v-model="registerForm.confirm_password" placeholder="Confirm Password">
                  <span v-show="errors.has('confirm_password')" class="has-text-danger">The passwords do not match</span>
                </div>
              </div>
              <button class="button is-info is-fullwidth"  type="submit"  :disabled="errors.any()" @click="validation" value="Submit" >Create Account</button>
              <p>Already registered? <a @click="linkLogin">Login</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  </body>
</main>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  name: 'register',
  data () {
    return {
      registerForm: {
        username: null,
        password: null,
        confirm_password: null
      }
    }
  },
  methods: {
    postRegistration: function () {
      var vm = this
      vm.$store.commit('clearToken')
      var data = {
        username: vm.registerForm.username,
        password: vm.registerForm.password,
        confirmPassword: vm.registerForm.confirm_password
      }
      axios.post('http://localhost:8080/register', qs.stringify(data)).then((result) => {
        console.log(result.data)
        this.$router.push({ name: 'bank_accounts' })
      }).catch((error) => {
        console.log(error)
      })
    },
    linkLogin: function () {
      this.$router.push({ name: 'login' })
    },
    validation: function () {
      this.$validator.validateAll().then(res => {
        if (res) {
          this.postRegistration()
        } else {
          alert('Some fields still require some attention')
        }
      })
    }
  }
}
</script>
