<template>
  <main>
    <div id="app" class="section">
      <div class="container">
      <form @submit="sendTx">
        <div class="field" v-if="isAdmin">
          <label class="label">Select user</label>
          <p class="control">
              <span class="select">
                <select role="form-control" data-vv-as="from username" v-model="selectedUser" @change="getAccountsFromUser()">
                    <option :value="user.userId" v-for="user in users" :key="user.userId">
                      {{user.username}}
                    </option>
                </select>
              </span>
            <span v-show="errors.has('from username')" class="has-text-danger">{{ errors.first('from username') }}></span>
          </p>
        </div>
          <div class="field">
            <label class="label">Select account</label>
            <p class="control">
              <span class="select">
                <select data-vv-as="from account" v-model="newTx.sender" >
                    <option :value="account.bankAccountId" v-for="account in accounts" :key="account.bankAccountId">
                      {{account.bankAccountId}}
                    </option>
                </select>
              </span>
              <span v-show="errors.has('from account')" class="has-text-danger">{{ errors.first('from account') }}></span>
            </p>
          </div>
        <div class="field">
          <label class="label">Enter recipient account</label>
          <div class="field has-addons">
            <p class="control">
              <input v-validate="'required'" name="account" type="number" class="input" v-model="newTx.receiver" placeholder="To Account">
              <span class="has-text-danger">{{errors.first("account")}}</span>
            </p>
          </div>
        </div>
        <div class="block">
          <div class="field has-addons">
            <p class="control">
              <label class="label">Amount</label>
              <input name="amount" type="number" class="input" v-model="newTx.amount" placeholder="$ 123">
              <span class="has-text-danger">{{errors.first("amount")}}</span>
            </p>
          </div>
            <div class="field">
              <label class="label">Description(optional)</label>
              <input type="text" class="input" v-model="newTx.description" placeholder="Give a description of the transaction">
            </div>
          <div class="block">
            <input value="Submit" class="button is-danger" @click="validation">
          </div>
        </div>
      </form>
        </div>
      </div>
  </main>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default({
  name: 'transaction',
  data () {
    return {
      newTx:
        {
          user: null,
          sender: null,
          receiver: null,
          amount: null,
          description: null
        },
      users: [],
      accounts: [],
      selectedUser: '',
      isAdmin: this.$store.state.isAdmin
    }
  },
  methods: {
    getAccounts: function () {
      var vm = this
      axios.get('http://localhost:8080/new-transaction')
        .then((response) => {
          console.log(response.data)
          vm.accounts = response.data
        }).catch((error) => {
          console.log(error)
        })
    },
    getUsers: function () {
      var vm = this
      axios.get('http://localhost:8080/user/all')
        .then((response) => {
          console.log(response.data)
          vm.users = response.data
        }).catch((error) => {
          console.log(error.message)
        })
    },
    getAccountsFromUser: function () {
      var vm = this
      axios.get('http://localhost:8080/new-transaction/get-accounts', {
        params: {
          userId: vm.selectedUser
        }
      }).then((response) => {
        console.log(response.data)
        vm.accounts = response.data
      }).catch((error) => {
        console.log(error.message)
      })
    },
    sendTx: function () {
      console.log(this.newTx)
      var vm = this
      var data = {
        user: vm.$store.getters.getUser.userId,
        senderId: vm.newTx.sender,
        receiverId: vm.newTx.receiver,
        amount: vm.newTx.amount,
        description: vm.newTx.description
      }
      axios.post('http://localhost:8080/new-transaction', qs.stringify(data))
        .then((response) => {
          console.log(response)
          console.log(vm.newTx)
        })
        .catch((error) => {
          console.log(error)
        }).finally(() => {
          this.$router.push({name: 'bank-account-transactions', params: {id: vm.newTx.sender}})
        })
    },
    validation: function () {
      this.$validator.validateAll().then(() => {
        const sender = this.newTx.sender
        if (this.newTx.amount <= this.accounts.find(x => x.bankAccountId === sender).balance) {
          this.sendTx()
        } else {
          alert('Insufficient credits..')
        }
      })
    }
  },
  mounted () {
    this.getAccounts()
    if (this.$store.state.isAdmin) {
      this.getUsers()
    }
  }
})
</script>
